@charset "utf-8";

// FontAwesome
$fa_font_path: "~@fortawesome/fontawesome-free/webfonts";
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';

// OpenSans
$FontPathOpenSans: "~open-sans-fonts/open-sans";
@import '~open-sans-fonts/open-sans';
$family-primary: 'Open Sans';

// Bulma
@import "~bulma/bulma";

// Colors
.navbar.is-primary {
    background-color: #82bc77;
    color: #fff;
}
.button.is-primary {
    background-color: #5b8353;
    border-color: transparent;
    color: #fff;
}
.button.is-primary:hover {
    background-color: #4E7047;
    border-color: transparent;
    color: #fff;
}
.button.is-primary.is-outlined {
    background-color: transparent;
    border-color: #4E7047;
    color: #4E7047;
}
.is-active.button {
    outline: none;
    outline-color: #4E7047;
    outline-style: none;
    outline-width: initial;
}
